#mine-referral {
    display: inline-flex;
}

.mine-ref {
    height: 250px;
    width: 250px;
    margin: 50px;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.5);
    border-radius: 80px;
    cursor: pointer;
    background-size: contain;
    opacity: 0.7;
    transition: opacity 0.5s;
}

#git-hub {
    background-image: url("https://pic.clubic.com/v1/images/1927773/raw?fit=smartCrop&height=900&width=900&hash=9ab9df5082c1ce24dc8729ae43a388f6bc269721");
}

#return {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQw8dYCOt61OPnI-0V4kWTOSoM5tKCz73WNLi4_uQ1dKLJoRJMNVgm3D6cCojvkpV8nQTA&usqp=CAU");
}

#linkedin {
    background-image: url("https://www.pngall.com/wp-content/uploads/13/Linkedin-Logo-PNG-Photos.png");
}

.mine-ref:hover {
    opacity: 1;
}

#info-referral {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#more-info-referral {
    margin-top: 100px;
    font-family: Impact;
    font-size: 20px;
    text-align: center;
    border-radius: 5px 5px 50px 50px;
    padding: 10px 50px;
    background: linear-gradient(to right,
    rgba(5, 42, 255, 0.3),
    rgba(255, 0, 22, 0.3));
    opacity: 0.7;
    cursor: pointer;
    transition: opacity 0.5s;
}

#more-info-referral:hover {
    opacity: 1;
}
