#user-content-main {
    width: 1200px;
    min-height: 400px;
    max-height: 850px;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(93, 93, 93, 0.2);
    margin-bottom: 20px;
    overflow: scroll;
    overflow-x: hidden;
}

#user-message-welcome {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 95px 5px 45px;
    text-align: center;
    font-size: 22px;
    font-family: "Comic Sans MS";
    margin-top: -45px;
    white-space: break-spaces;
}

.user-img-show {
    width: 180px;
    height: 180px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#user-category-topic {
    background: linear-gradient(to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0));
    padding: 5px;
    text-align: center;
    font-size: 25px;
    font-family: "Comic Sans MS";
}

#user-content-welcome {

    margin: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#user-content-welcome-imgs {
    margin: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.42);
    background-color: rgba(255, 255, 255, 0.62);
}

#user-content-welcome-imgs:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.42);
    transition: opacity 0.5s;
}

#img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#set-name-user {
    margin-top: 5px;
    margin-bottom: -30px;
    margin-left: 19px;
    padding-left: 40px;
    background: linear-gradient(to right,
    rgb(255, 255, 255, 0.62),
    rgb(255, 255, 255, 0.62),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0));
    font-size: 22px;
    font-family: "Comic Sans MS";
}


