#user-content-main {
    width: 1200px;
    min-height: 400px;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
    border: 2px solid #5d5d5d;
    margin-bottom: 20px;
}

#user-message-welcome {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 95px 5px 45px;
    text-align: center;
    font-size: 22px;
    font-family: "Comic Sans MS";
    margin-top: -45px;
    white-space: break-spaces;
}

.user-img-show {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

#user-category-topic {
    background: linear-gradient(to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0));
    padding: 5px;
    text-align: center;
    font-size: 25px;
    font-family: "Comic Sans MS";
}