
@media screen and (min-width: 1025px) {
    header p {
        rotate: -90deg;
        transition: rotate 1s;
    }

    #img-one {
        height: 70%;
        background-size: cover;
        opacity: 0.5;
        filter: grayscale(100%);
        margin: 30px 5px 5px 5px;
        min-width: 80px;
        text-align: center;
        transition: min-width 1s, opacity 1s, font-size 1s;
        padding: 25px 0px;
        font-family: "Comic Sans MS";
        text-shadow: 2px 0px 0px white, 0px 2px 0px white, 0px -2px 0px white, -2px 0px 0px white;
        font-size: 0px;
    }

    #img-one:hover p {
        rotate: 0deg;
    }

    #img-one:hover {
        font-size: 25px;
        min-width: 160px;
        opacity: 1;
        filter: none;
    }

    #img-two {
        height: 70%;
        background-size: cover;
        opacity: 0.5;
        filter: grayscale(100%);
        margin: 50px 5px 5px 5px;
        min-width: 80px;
        text-align: center;
        transition: min-width 1s, opacity 1s, font-size 1s;
        padding: 25px 0px;
        font-family: "Comic Sans MS";
        text-shadow: 2px 0px 0px white, 0px 2px 0px white, 0px -2px 0px white, -2px 0px 0px white;
        font-size: 0px;
    }

    #img-two:hover p {
        rotate: 0deg;
    }

    #img-two:hover {
        font-size: 25px;
        min-width: 160px;
        opacity: 1;
        filter: none;
    }

    #img-three {
        height: 70%;
        background-size: cover;
        opacity: 0.5;
        filter: grayscale(100%);
        margin: 70px 5px 5px 5px;
        min-width: 80px;
        text-align: center;
        transition: min-width 1s, opacity 1s, font-size 1s;
        padding: 25px 0px;
        font-family: "Comic Sans MS";
        text-shadow: 2px 0px 0px white, 0px 2px 0px white, 0px -2px 0px white, -2px 0px 0px white;
        font-size: 0px;
    }

    #img-three:hover p {
        rotate: 0deg;
    }

    #img-three:hover {
        font-size: 25px;
        min-width: 160px;
        opacity: 1;
        filter: none;
    }

    #img-four {
        height: 70%;
        background-size: cover;
        opacity: 0.5;
        filter: grayscale(100%);
        margin: 30px 5px 5px 5px;
        min-width: 80px;
        text-align: center;
        transition: min-width 1s, opacity 1s, font-size 1s;
        padding: 25px 0px;
        font-family: "Comic Sans MS";
        text-shadow: 2px 0px 0px white, 0px 2px 0px white, 0px -2px 0px white, -2px 0px 0px white;
        font-size: 0px;
    }

    #img-four:hover p {
        rotate: 0deg;
    }

    #img-four:hover p {
        rotate: 0deg;
    }

    #img-four:hover {
        font-size: 25px;
        min-width: 160px;
        opacity: 1;
        filter: none;
    }

    #img-five {
        height: 70%;
        background-size: cover;
        opacity: 0.5;
        filter: grayscale(100%);
        margin: 70px 5px 5px 5px;
        min-width: 80px;
        text-align: center;
        transition: min-width 1s, opacity 1s, font-size 1s;
        padding: 25px 0px;
        font-family: "Comic Sans MS";
        text-shadow: 2px 0px 0px white, 0px 2px 0px white, 0px -2px 0px white, -2px 0px 0px white;
        font-size: 0px;
    }


    #img-five:hover p {
        rotate: 0deg;
    }

    #img-five:hover {
        font-size: 25px;
        min-width: 160px;
        opacity: 1;
        filter: none;
    }

    #img-six {
        height: 70%;
        background-size: cover;
        opacity: 0.5;
        filter: grayscale(100%);
        margin: 50px 5px 5px 5px;
        min-width: 80px;
        text-align: center;
        transition: min-width 1s, opacity 1s, font-size 1s;
        padding: 25px 0px;
        font-family: "Comic Sans MS";
        text-shadow: 2px 0px 0px white, 0px 2px 0px white, 0px -2px 0px white, -2px 0px 0px white;
        font-size: 0px;
    }


    #img-six:hover p {
        rotate: 0deg;
    }

    #img-six:hover {
        font-size: 25px;
        min-width: 160px;
        opacity: 1;
        filter: none;
    }

    #img-seven {
        height: 70%;
        background-size: cover;
        opacity: 0.5;
        filter: grayscale(100%);
        margin: 70px 5px 5px 5px;
        min-width: 80px;
        text-align: center;
        transition: min-width 1s, opacity 1s, font-size 1s;
        padding: 25px 0px;
        font-family: "Comic Sans MS";
        text-shadow: 2px 0px 0px white, 0px 2px 0px white, 0px -2px 0px white, -2px 0px 0px white;
        font-size: 0px;
    }


    #img-seven:hover p {
        rotate: 0deg;
    }

    #img-seven:hover {
        font-size: 25px;
        min-width: 160px;
        opacity: 1;
        filter: none;
    }

    #img-eight {
        height: 70%;
        background-size: cover;
        opacity: 0.5;
        filter: grayscale(100%);
        margin: 30px 5px 5px 5px;
        min-width: 80px;
        text-align: center;
        transition: min-width 1s, opacity 1s, font-size 1s;
        padding: 25px 0px;
        font-family: "Comic Sans MS";
        text-shadow: 2px 0px 0px white, 0px 2px 0px white, 0px -2px 0px white, -2px 0px 0px white;
        font-size: 0px;
    }
    #img-eight:hover p {
        rotate: 0deg;
    }
    #img-eight:hover {
        font-size: 25px;
        min-width: 160px;
        opacity: 1;
        filter: none;
    }


    #img-nine {
        height: 70%;
        background-size: cover;
        opacity: 0.5;
        filter: grayscale(100%);
        margin: 50px 5px 5px 5px;
        min-width: 80px;
        text-align: center;
        transition: min-width 1s, opacity 1s, font-size 1s;
        padding: 25px 0px;
        font-family: "Comic Sans MS";
        text-shadow: 2px 0px 0px white, 0px 2px 0px white, 0px -2px 0px white, -2px 0px 0px white;
        font-size: 0px;
    }
    #img-nine:hover p {
        rotate: 0deg;
    }
    #img-nine:hover {
        font-size: 25px;
        min-width: 160px;
        opacity: 1;
        filter: none;
    }

    #img-ten {
        height: 70%;
        background-size: cover;
        opacity: 0.5;
        filter: grayscale(100%);
        margin: 30px 5px 5px 5px;
        min-width: 80px;
        text-align: center;
        transition: min-width 1s, opacity 1s, font-size 1s;
        padding: 25px 0px;
        font-family: "Comic Sans MS";
        text-shadow: 2px 0px 0px white, 0px 2px 0px white, 0px -2px 0px white, -2px 0px 0px white;
        font-size: 0px;
    }
    #img-ten:hover p {
        rotate: 0deg;
    }
    #img-ten:hover {
        font-size: 25px;
        min-width: 160px;
        opacity: 1;
        filter: none;

    }

    #img {
        height: 500px;
    }

    header {
        grid-area: h;
        display: inline-flex;
        padding: 10px;
        height: 500px;
        min-width: 1025px;
        min-height: 500px;
        max-height: 500px;
        justify-content: center;
        justify-self: center;
    }


    body {
        display: grid;
        grid-template-areas:
    ". h h ."
    ". m m .";
        background-image: url("mainImg/backgrou.jpg");
        background-size: 2000px 2000px;
        min-height: 800px;
    }

    #sign {
        margin-top: 100px;
        margin-left: 25px;
        width: 295px;
        max-height: 75px;
        background-image: url("mainImg/Sign.png");
        background-size: contain;
    }


    #logo {
        margin: 340px 30% 0px 30%;
        min-width: 40%;
        height: 250px;
        z-index: 80;
        display: inline-flex;
        position: absolute;
    }

    #photo {
        width: 250px;
        border-radius: 150px;
        background-image: url("mainImg/photo.jpg");
        background-size: cover;
        box-shadow: 2px 2px 5px black;
    }

    main #p p {
        font-size: 22px;
        font-family: "Comic Sans MS";
        grid-area: p;
    }

    #p {
        grid-area: p;
        min-height: 180px;
    }

    main {
        padding-top: 60px;
        grid-area: m;
        background: linear-gradient(to right, rgba(0, 0, 0, 0),
        rgba(150, 150, 150, 0.48),
        rgba(150, 150, 150, 0.48),
        rgba(255, 255, 255, 0));
        text-align: center;
        display: grid;
        grid-template-areas:
        " p"
        " l"
        " f";
        align-items: center;
        justify-content: center;
    }


    small {
        grid-area: l;
        border-radius: 15px 0px 15px 0px;
        box-shadow: 5px 5px 5px gray;
        background-color: rgba(255, 255, 255, 0.45);
        padding: 50px 10px 10px 10px;
        align-items: center;
        justify-content: center;
        min-height: 500px;
        display: none;
    }


    footer {
        grid-area: f;
        background: linear-gradient(to right, rgba(255, 255, 255, 0),
        rgba(150, 150, 150, 0.5),
        rgba(150, 150, 150, 0.5),
        rgba(150, 150, 150, 0.5),
        rgba(150, 150, 150, 0.5),
        rgba(255, 255, 255, 0));
        height: 20px;
        width: 100%;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        opacity: 0.4;
    }

    a {
        color: #2c548c;
    }

}
