#add-message {
    padding: 5px 15px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
    width: 800px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#categories-message {
    margin: 5px 15px;
}

#category-message-textarea{
    height: 300px;
    width: 800px;
    padding: 15px 5px;
    background-color: rgba(241, 241, 241, 0.13);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-family: "Comic Sans MS";
}
#admin-cat-message-main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.incoming-message-div {
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: 5px;
    min-height: 100px;
    width: 800px;
    padding: 15px 5px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-family: "Comic Sans MS";
    text-align: center;
    white-space: pre-line;
}

#hr-message {
 width: 80%;
}