.main-comment-div {
    border: 2px solid rgba(0, 0, 0, 0.47);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.37);
    display: flex;
    flex-wrap:wrap;
    flex-flow: column;
    padding: 5px 25px;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5);
    width: 50%;
    margin: 5px;
}

#name-comment {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, 0.53);
    margin-bottom: 5px;
}

#buttons-comment {
    display: flex;
    align-self: center;
    justify-self: center;
}

.button-comme {
    margin: 0px 25px;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


#review {
    white-space: pre-line;
}

#answer {
    border-top: 2px solid black;
}
#name {
    background-color: rgba(255, 255, 255, 0.91);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 5px 25px;
    border-radius: 15px;
}

#time {
    background-color: rgba(255, 255, 255, 0.91);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 5px 25px;
    border-radius: 15px;
}

#review-answer-comment {
    background-color: rgba(255, 255, 255, 0.71);
    border-radius: 15px;
    padding: 5px 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;
}

#answer-textarea {
    height: 60px;
    margin-bottom: 5px;
}