.main-comment-div {
    border: 1px solid rgba(0, 0, 0, 0.07);
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    flex-wrap:wrap;
    flex-flow: column;
    padding: 0px 25px 5px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.32);
    margin: 5px;
    width: 900px;
}


#name-comment {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, 0.06);
    margin-bottom: 5px;
    height: 50px;
}

#buttons-comment {
    display: flex;
    align-self: center;
    justify-self: center;
}
.answer-textarea {
    height: 60px;
    margin-bottom: 5px;
}
.button-comme {
    margin: 0px 25px;
    padding: 5px 15px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


#review {
    white-space: pre-line;
    display: block;
}

#answer {
    white-space: pre-line;
}
#name {
    padding: 5px 25px;
    font-weight: bold;
}

#time {
    padding: 5px 25px;
}

.review-answer-comment {
    background-color: rgba(255, 255, 255, 0.34);
    padding: 0px 20px 5px 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;

}

