.img-sorted{
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin: 5px;
    cursor: pointer;
}

#read-all-img-sort {
    padding: 5px;
}

.set-name-style {
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.5);
    margin: -25px 15px 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.category-category {
    margin: 5px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.5);
    border: 2px solid #5d5d5d;
}

h1 {
    font-family: "Comic Sans MS";
    text-align: center;
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.16);
}

h2 {
    font-family: "Comic Sans MS";
    text-align: center;
    display: inline;
    padding: 5px 25px;
    background-color: rgb(231, 231, 231);
    z-index: 10;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.set-name {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.delete-one-img {
    width: 50px;
    height: 25px;
    background-color: #ff5454;
    margin: 5px;
    border-radius: 5px;
}

.delete-set-img {
    width: 75px;
    height: 25px;
    background-color: #ff5454;
    border-radius: 5px;
    margin-bottom: -25px;
}