#welcome-message {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

#welcome-message-textarea {
    height: 200px;
    width: 1300px;
    padding: 15px 5px;
    background-color: rgba(241, 241, 241, 0.13);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-family: "Comic Sans MS";
}

#welcome-message-button {
    margin-top: -20px;
}